* {
    padding: 0px;
    margin: 0px;
    font-family: Helvetica;
}

body {
    background-color: white;
}

.tab_app {
    width: 40%;
    min-width: 350px;
    height: 50vw;
    margin-top: 4vw;
    margin-left: 8vw;
    margin-bottom: 2vw;
    box-shadow: 2vw 2vw 2vw 1vw rgba(0,0,0,0.25);
    
}

.tab_cabecera {
    width: 100%;
    height: 10vw;
    min-height: 100px;  
    background-color: #8ecfd5;
    margin-bottom: 2em;

}

.cabecera_icono {
    
    width:  20%;
    height: 100%;
    float: left;
}

#icono {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
    margin-top: 15%;
    
}

.cabecera_datos {
    width: 50%;
    height: 90%;
    float: left;
}

@media screen and (max-width: 1000px){
    
    p.app_name {
        font-size: 20px;   
    }
    
    p.app_texto_cabecera {
        font-size: 10px;
    }

    a.boton_descargar {
        font-size: 10px;
    }

    p.app_texto {
        font-size: 12px;
    }

}

.app_enlace {
    text-decoration: none;
    color: gray;
}

.app_enlace:hover {
    text-decoration: underline;

}

.app_name {
    width: 100%;
    font-family: Arial;
    text-align: left;
    padding-top: 10%;
    padding-left: 5%;
    color: gray;
    font-size: 2vw;   
}

.app_texto_cabecera {
    font-family: Arial;
    padding-left: 5%;
    line-height: 1.6em;
    text-align: left;
    color: gray;
    font-size: 1vw;
}

.cabecera_boton {
    width: 30%;
    height: 100%;
    float: left;
}

.boton_descargar {
    width: 50%;
    min-width: 80px;
    min-height: 10px;
    text-decoration: none;
    text-align: center;
    padding: 2%;
    background-color: white;
    color: #8ecfd5;
    border-radius: 1vw 1vw;
    font-size: 1vw;
    font-weight: bold;
    border: 2px solid white;
    display: block;
    margin: auto;
    margin-top: 40%;
}

.boton_descargar:hover {
    color: gray;
    cursor: pointer;
    
}

.boton_descargar:active {
    border: 2px solid white;
    color: white;
    cursor: pointer;
    background-color: #8ecfd5;
}
.tab_imagenes {
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.tab_screenshot {
    width: 22%;
    float: left;
    display: flex;
    padding-left: 1%;
    border: 1%
}

.tab_descripcion{
    width: 80%;
    height: 10vw;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
    float: left;
    
}

.app_texto {
    line-height: 175%;
    text-align: left;
    color: gray;
    font-size: 12px;
}

.tabulado {
    text-indent: 5%;
}






